.title{
    font-size:50px;
    
}

.c-white{
    color:#FE0142;
    font-size:20px;
}

.title-principal{
    color:#FE0142;
    font-weight: bold;
}



.page{
    font-size: 16px;
    color:#707070;
    background-color: #F8F8F8;
}

.bg-yellow{
    background-color:rgb(233, 231, 227);
}

.bg-gray{
    background-color:rgb(233, 231, 227);
}

.bg-white{
    background-color:white;
}

.curiosidades{
    text-align: center;
    div{
        width:260px;
        padding: 20px 0px;
        //height: 260px;
    }
}
