<div fxLayout="column" class="page">
    <section fxLayout="row" fxLayoutAlign="space-between center" style="height: 500px; 
    background-image: url('./assets/images/magra.png'); background-size: cover">
        <div fxHide.lt-md>
        </div>
        <div fxLayout="column" fxFlex="50%" fxLayoutAlign="start center" fxLayoutGap="80px" style="padding: 20px;">
            <span class="title title-principal" style="padding-right: 100px;">Perder Peso</span>
            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="30px">
                <span class="c-white">10 dicas matadoras para perder peso definitivamente.</span>
                <div>
                    <button mat-raised-button class="btn-warning btn-rounded">LEIA MAIS</button>
                </div>
            </div>
        </div>
    </section>
    <section id="" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
        <div fxFlexOffset="10%" fxFlex="40%" fxLayout="column">
            <p>
                Já imaginou se existisse uma forma de perder peso de 7 a 10 kg em apenas 21 dias, sem muito esforço e
                sem ter que gastar muito pra isso?.
            </p>
            <p>
                Transformada em livro, a Dieta de 21 dias permite que as pessoas comam até se sentirem satisfeitas e
                ainda assim perder peso.
            </p>
            <p>
                Abaixo eu vou te mostrar as 10 dicas para você fazer o mesmo, utilizando alimentos simples, do seu dia a
                dia.
            </p>
        </div>
        <div fxFlex="50%" style="height: 495px;background-image: url('./assets/images/prato.jpg')">
        </div>
    </section>
    <section id="dicas" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px">
        <div fxFlex="50%"
            style="height: 580px;background-image: url('./assets/images/dieta_2.jpg'); background-size: cover">
        </div>
        <div fxFlex="50%" fxLayout="column">
            <p class="title text-info">Veja as melhores 10 dicas da Dieta de 21 dias:</p>
            <p>
                10. Coma alimentos saudáveis, em porções saudáveis. Ingira muitos alimentos que contenham bastante
                volume e
                satisfaçam você, mas que sejam baixos em caloria, como vegetais e frutas, carboidratos de grãos
                integrais e fontes magras de proteínas, tais como legumes e peixes, podendo ser consumidos em maiores
                quantidades.
            </p>
            <p>
                9. Faça mais atividades físicas. Quando você pratica atividades físicas, seu corpo usa energia
                para funcionar, o que ajuda a queimar as calorias que você ingere. Portanto,
                a prática de pelo menos uma atividade física, como caminhada por exemplo, é essencial para um
                emagrecimento saudável.
            </p>
            <p>
                8. Invista nos chás que ajudam a emagrecer. Alguns deles, como o chá verde, chá preto e o chá de canela,
                estimulam a queima calórica. Enquanto o chá de hibisco contribui para que menos gordura fique acumulada
                no abdômen.
            </p>
            <p> 7. Diminua o consumo de sal e açucar. O açucar, que é o grande vilão de quem pretende emagrecer, deve
                ser consumido em
                quantidades mínimas, pois quando consumido em excesso se transforma em acúmulo de gordura no corpo.
            </p>
            <p>6. Fique longe de gordura trans. Esse tipo de gordura é encontrado facilmente em alimentos fast-food,
                como hamburgers,
                pizzas, hot-dogs, etc, sendo extremamente perigoso para o corpo, podendo causar até alguns tipos de
                doença.
            </p>
            <!-- <p class="fs-24">
                Faça o download do nosso ebook grátis.
            </p>
            <div>
                <button mat-raised-button class="btn-info btn-rounded">BAIXAR</button>
            </div> -->
        </div>
    </section>
    <section id="especiais" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px" class="bg-yellow">
        <div fxFlex="50%"
            style="height: 580px;background-image: url('./assets/images/vegetable.jpg'); background-size: cover">
        </div>
        <div fxFlex="50%" fxLayout="column">
            <p>5. Durma bem. Uma boa noite de sono, de pelo menos 8h, é essencial no equilíbrio do metabolismo, que é o
                responsável
                pela queima de gordura corporal.
            </p>
            <p>4. Beba mais água durante o dia. Além de ajudar a diminuir a fome, ajuda na hidratação do corpo, ativando
                também o efeito diurético,
                que faz com que você urine mais e elimine as toxinas que prejudicam o emagrecimento.
            </p>
            <p>3. Não se sacrifique demais. Faça o chamado "dia do lixo", um dia para comer alimentos que estão fora da
                sua dieta, como fast-food e doces.
                Mas não exagere. Isso serve para equilibrar sua dieta, fazendo com que o corpo não "vicie" apenas em
                alimentos saudáveis,
                fazendo com que perca a sua eficácia.
            </p>
            <p>2. Evite alimentos industrializados. Opte por alimentos naturais.
            </p>
            <p>1. Vá devagar. Emagrecer rápido demais pode ser prejudicial a saúde.
            </p>
        </div>
    </section>
    <section id="curiosidades" fxLayout="column" fxLayoutAlign="start center" class="c-white curiosidades">
        <span class="title text-info pt-2">Veja também</span>
        <div fxLayout="row" style="width: 100%; height: auto;padding: 30px;" fxLayoutGap="30px" fxLayoutAlign="space-between start">
            <div fxLayout="column" fxLayoutGap="20px">
                <i class="far fa-hourglass fa-5x"></i>
                <a routerLink="./" (click)="goToUrl2()">O Que é a Dieta de 21 dias?</a>
            </div>
            <div fxLayout="column" fxLayoutGap="20px">
                <i class="fas fa-wine-bottle fa-5x"></i>
                <a routerLink="./" (click)="goToUrl3()">Descubra como conquistar o corpo que você tanto deseja...</a>
            </div>
            <div fxLayout="column" fxLayoutGap="20px">
                <i class="fab fa-old-republic fa-5x"></i>
                <a routerLink="./" (click)="goToUrl4()">Qual a sua meta de perda de peso? Responda essas perguntas e
                    deixe que nós descubrimos a melhor
                    dieta pra você.</a>
            </div>
        </div>
    </section>
    <!-- <section id="parceiros" fxLayout="column" fxLayoutAlign="start center" class="bg-white curiosidades">
        <span class="title text-info mt-2">Cervejarias Parceiras</span>
        <div fxLayout="row wrap" style="width: 100%; height: auto" fxLayoutGap="30px" fxLayoutAlign="center start">

            <div fxLayout="column" fxLayoutGap="10px">
                <i class="fas fa-beer fa-5x"></i>
                <span>Cervejaria 1</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique eros et enim placerat
                    tincidunt. </span>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
                <i class="fas fa-beer fa-5x"></i>
                <span>Cervejaria 2</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique eros et enim placerat
                    tincidunt. </span>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
                <i class="fas fa-beer fa-5x"></i>
                <span>Cervejaria 3</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique eros et enim placerat
                    tincidunt. </span>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
                <i class="fas fa-beer fa-5x"></i>
                <span>Cervejaria 4</span>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique eros et enim placerat
                    tincidunt. </span>
            </div>
        </div>
    </section> -->
    <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="60px" class="bg-gray">
        <div fxFlexOffset="10%" fxFlex="60%" fxLayout="column" fxLayoutGap="40px">
            <p class="title text-info">Gostei! quero saber mais...</p>
            <!-- <p class="fs-24">Acesse o sistema</p> -->
            <p>
                Isso são apenas pequenas dicas que contém na dieta de 21 dias!
            </p>
            <p>
                Mude de vida hoje mesmo dando o primeiro passo para uma vida mais saudável!
            </p>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button class="btn-info btn-rounded" (click)="goToUrl5()">SAIBA MAIS</button>
            </div>
        </div>
        <div fxFlex="40%" style="height: 495px;background-image: url('./assets/images/prato_2.jpg')">
        </div>
    </section>
</div>
<app-footer></app-footer>