<div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <mat-toolbar fxLayout fxLayoutAlign="start center" fxLayoutGap="20px" class="header">
        <div fxHide.gt-sm>
            <button mat-icon-button (click)="opened = !opened">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <a routerLink="/" style="padding-left: 30px;">
            <img src="../assets/images/logo.png" class="logo-img">
        </a>
        <div fxLayout fxLayoutGap="20px" fxLayoutAlign="space-between center" fxHide.lt-md>
            <button mat-button (click)="scrollTo('saude')">SAÚDE</button>
            <button mat-button (click)="scrollTo('dietas')">DIETAS</button>
            <button mat-button (click)="scrollTo('ebook')">EBOOK</button>
            <button mat-button (click)="scrollTo('dicas')">DICAS</button>
        </div>
    </mat-toolbar>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-sidenav-container class="main-sidenav-container" (backdropClick)="opened = !opened">
        <mat-sidenav [mode]="mode" [opened]="opened" [fixedInViewport]="true" [fixedTopGap]="layoutGap">
            <div fxLayoutGap="10px" fxHide.lt-md>
                <button mat-button (click)="scrollTo('saude')">SAÚDE</button>
                <button mat-button (click)="scrollTo('dietas')">DIETAS</button>
                <button mat-button (click)="scrollTo('ebook')">EBOOK</button>
                <button mat-button (click)="scrollTo('dicas')">DICAS</button>
            </div>
        </mat-sidenav>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-container>
</div>