<div class="bg-footer">
    <div>
        <div flex fxLayout="column" fxLayoutGap="10px" style="padding: 30px">
            <div fxLayout="row" >
                <div fxFlex="70%" fxLayout fxLayoutAlign="center center">
                    <p style="font-size: 13px;">"As informações contidas neste site têm caráter meramente
                        informativo.Este conteúdo educativo não substitui o aconselhamento e
                        acompanhamento de médicos, nutricionistas, psicólogos, profissionais de educação física e outros
                        especialistas da área."</p>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout fxLayoutAlign="center center">
                    <p style="font-size: 13px;">Copyright © EliMídia. Todos os direitos reservados.</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <span class="follow-us">SIGA</span>
                    <span style="font-size: 17px;">e fique por dentro das novidades</span>
                    <div fxLayout="row" class="icons-lead" fxLayoutGap="10px" style="margin-top: 26px">
                        <i class="fab fa-facebook icon-box"></i>
                        <i class="fab fa-instagram icon-box"></i>
                        <i class="fab fa-twitter icon-box"></i>
                        <i class="fab fa-linkedin icon-box"></i>
                        <i class="fab fa-youtube icon-box"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>